@font-face {
    font-family: Montaga;
    src: url(./Montaga/Montaga-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(./montserrat/Montserrat-Regular.ttf);
    font-weight: normal;
}